<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="94d88de3-e6ba-436f-a736-8fc43408e293" Publisher="CN=Laurent" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Renren.Components.Tester.Win8</DisplayName>
    <PublisherDisplayName>HAIBO</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <Description>Renren.Components.Tester.Win8</Description>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Renren.Components.Tester.Win8.App">
      <VisualElements DisplayName="Renren.Components.Tester.Win8" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Renren.Components.Tester.Win8" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>